@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ola Joia ?</h1>
    <h1 class="display-4">Kely Te Amooo muitooo</h1>
    <p>codigo de csharp no linux</p>

    <img src="kely.jpg">

    <div>
    </div>
</div>
